@import "bootstrap";
@import "search";
@import "button_overrides";

html, body, .body-view {
  height: 100%;
  position: relative;
}

label md-spinner {
  width: 20px !important;
  height: 20px !important;
  display: inline-block !important;
}

.navbar-main {
  margin-bottom: 0;
}

.md-sidenav-opened {
  height: 100%
}

main-section {
  display: block;
}

main-section md-sidenav-layout {
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
}

main-section md-sidenav-layout md-sidenav {
  max-width: 90% !important;
  text-align: left;

  .container-sidenav {
    max-width: 800px;
    padding: 1em;
    margin: 0 auto;
    min-width: 200px;

    > header {
      margin-bottom: 1em;
    }

    md-input {
      width: 100%;
      max-width: 320px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .container-sidenav {
      min-width: 500px;
    }
  }

  @media (min-width: $screen-md-min) {
    .container-sidenav {
      min-width: 640px;
    }
  }
}

about-section {
  min-height: 100%;
  display: block;
  color: white;
  background-color: gray;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/dublin.jpg);
  background-position: center;

  .lead {
    margin-bottom: 40px;
  }

  .aggregations {
    margin-bottom: 40px;
  }

  .btn {
    min-width: 300px;
    border-color: white;
    color: white;
  }
}

