@import "bootstrap";
@import "search";

html, body, .body-view {
  height: 100%;
  position: relative;
}

label md-spinner {
  width: 20px !important;
  height: 20px !important;
  display: inline-block !important;
}

.navbar-main {
  margin-bottom: 0;
}

.md-sidenav-opened {
  height: 100%
}

main-section md-sidenav-layout md-sidenav {
  max-width: 90% !important;
  text-align: left;

  .container-sidenav {
    max-width: 640px;
  }
}



