@import "bootstrap";
@import "search";
@import "button_overrides";

html, body, .body-view {
  height: 100%;
  position: relative;
}

label md-spinner {
  width: 20px !important;
  height: 20px !important;
  display: inline-block !important;
}

.navbar-main {
  margin-bottom: 0;
}

main-section {
  display: block;
}

about-section {
  min-height: 100%;
  display: block;
  color: white;
  background-color: gray;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/dublin.jpg);
  background-position: center;

  .lead {
    margin-bottom: 40px;
  }

  .aggregations {
    margin-bottom: 40px;
  }

  .btn {
    min-width: 300px;
    border-color: white;
    color: white;
  }
}

